<!DOCTYPE html>
<html>
<head>
	<title>Welcome!</title>
</head>
<body>
	
	{% if messages %}
	<ul>
		{% for message in messages %}
		<li>{{message}}</li>
		{% endfor %}
	</ul>
	{% endif %}

	<fieldset>
		<legend>Register</legend>
		<form action='/register' method='post'>
			{% csrf_token %}
			Name:<input type="text" name="name"><br/>
			Username:<input type="text" name="username"><br/>
			Email:<input type="email" name="email"><br/>
			Password:<input type="password" name="password"><br/>
			Confirm Password:<input type="password" name="confirm"><br/>
			<input type="submit" name="Register">
		</form>
	</fieldset>

	<fieldset>
		<legend>Log In</legend>
		<form action='/login' method='post'>
			{% csrf_token %}
			Username:<input type="text" name="username"><br/>
			Password:<input type="password" name="password"><br/>
			<input type="submit" name="Log In">
		</form>
	</fieldset>

</body>
</html>